# Preprocessing Discrete Variables

In [1]:
# Standard Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Read the data

In [2]:
# Read in the data in pickle format
loan_data = pd.read_pickle('./dataset/loan_data_2014.pkl')

In [3]:
# Preview a sample of the data
loan_data.sample(6)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,emp_length_int,term_int,earliest_cr_line_date,mths_since_earliest_cr_line,issue_date_mths,mths_since_issue_date
198041,1532727,1797517,16000,16000,16000.0,60 months,20.49,428.28,E,E1,...,38927.0,NaN,NaN,NaN,5.0,60,1995-03-01,273.0,63.0,63.0
240120,36029744,38741420,26000,26000,26000.0,36 months,6.99,802.69,A,A3,...,57600.0,NaN,NaN,NaN,10.0,36,1992-07-01,305.0,37.0,37.0
118965,6075244,7547405,15000,15000,15000.0,36 months,19.52,553.80,D,D4,...,11500.0,NaN,NaN,NaN,10.0,36,1998-09-01,231.0,53.0,53.0
123910,5787657,7219839,11500,11500,11500.0,36 months,15.31,400.40,C,C2,...,16100.0,NaN,NaN,NaN,7.0,36,2004-09-01,159.0,54.0,54.0
234532,36451417,39173141,20000,20000,20000.0,36 months,8.19,628.49,A,A5,...,34000.0,NaN,NaN,NaN,10.0,36,1986-09-01,375.0,36.0,36.0
430440,12695951,14708108,20000,20000,20000.0,60 months,14.64,472.03,C,C3,...,12700.0,NaN,NaN,NaN,3.0,60,1986-07-01,377.0,45.0,45.0

### Preprocessing a few discrete variables

In [4]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 80 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  datetime64[ns]
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
 74  emp_length_int               445277 non-null  float64
 75  term_int                     466285 non-null  int64
 76  earliest_cr_line_date        466256 non-null  datetime64[ns]
 77  mths_since_earliest_cr_line  466256 non-null  float64
 78  issue_date_mths              466285 non-null  float64
 79  mths_since_issue_date        466285 non-null  float64
dtypes: datetime64[ns](2), float64(50), int64(7), object(21)
memory usage: 288.2+ MB

In [5]:
loan_data['grade']

0         B
1         C
2         C
3         C
4         B
         ..
466280    C
466281    D
466282    D
466283    A
466284    D
Name: grade, Length: 466285, dtype: object

In [6]:
# Create dummy variables for the grade column
pd.get_dummies(loan_data['grade'],prefix = 'grade', prefix_sep = ':')

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0             0        1        0        0        0        0        0
1             0        0        1        0        0        0        0
2             0        0        1        0        0        0        0
3             0        0        1        0        0        0        0
4             0        1        0        0        0        0        0
...         ...      ...      ...      ...      ...      ...      ...
466280        0        0        1        0        0        0        0
466281        0        0        0        1        0        0        0
466282        0        0        0        1        0        0        0
466283        1        0        0        0        0        0        0
466284        0        0        0        1        0        0        0

[466285 rows x 7 columns]

In [7]:
# Create dummy variables for other columns
loan_data_dummies = [pd.get_dummies(loan_data['grade'],prefix = 'grade', prefix_sep = ':'),
                    pd.get_dummies(loan_data['sub_grade'],prefix = 'sub_grade', prefix_sep = ':'),
                    pd.get_dummies(loan_data['home_ownership'],prefix = 'home_ownership', prefix_sep = ':'),
                    pd.get_dummies(loan_data['verification_status'],prefix = 'verification_status', prefix_sep = ':'),
                    pd.get_dummies(loan_data['loan_status'],prefix = 'loan_status', prefix_sep = ':'),
                    pd.get_dummies(loan_data['purpose'],prefix = 'purpose', prefix_sep = ':'),
                    pd.get_dummies(loan_data['addr_state'],prefix = 'addr_state', prefix_sep = ':'),
                    pd.get_dummies(loan_data['initial_list_status'],prefix = 'initial_list_status', prefix_sep = ':')]

In [8]:
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [9]:
# Check the type
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [10]:
# Concat to original DataFrame
loan_data = pd.concat([loan_data, loan_data_dummies], axis = 1)

In [11]:
# Check if they are appended to the real Dataframe
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'emp_length_int', 'term_int',
       'earliest_cr_line_date', 'mths_since_earliest_cr_line',
       'issue_date_mths', 'mths_since_issue_date', 'grade:A', 'grade:B',
       'grade:C', 'grade:D', 'grade:E', 'grade:F', 'grade:G',
       'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4',
       'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3',
       'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2',
       'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1',
       'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5',
       'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4',
       'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3',
       'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2',
       'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

### Check for missing values and clean

In [12]:
pd.options.display.max_rows = None
loan_data.isna().sum()

id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              4
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                            29
earliest_cr_line                                                       29
inq_last_6mths                                                         29
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                               29
pub_rec                                                                29
revol_bal                                                               0
revol_util                                                            340
total_acc                                                              29
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                         29
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                      21008
term_int                                                                0
earliest_cr_line_date                                                  29
mths_since_earliest_cr_line                                            29
issue_date_mths                                                         0
mths_since_issue_date                                                   0
grade:A                                                                 0
grade:B                                                                 0
grade:C                                                                 0
grade:D                                                                 0
grade:E                                                                 0
grade:F                                                                 0
grade:G                                                                 0
sub_grade:A1                                                            0
sub_grade:A2                                                            0
sub_grade:A3                                                            0
sub_grade:A4                                                            0
sub_grade:A5                                                            0
sub_grade:B1                                                            0
sub_grade:B2                                                            0
sub_grade:B3                                                            0
sub_grade:B4                                                            0
sub_grade:B5                                                            0
sub_grade:C1                                                            0
sub_grade:C2                                                            0
sub_grade:C3                                                            0
sub_grade:C4                                                            0
sub_grade:C5                                                            0
sub_grade:D1                                                            0
sub_grade:D2                                                            0
sub_grade:D3                                                            0
sub_grade:D4                                                            0
sub_grade:D5                                                            0
sub_grade:E1                                                            0
sub_grade:E2                                                            0
sub_grade:E3                                                            0
sub_grade:E4                                                            0
sub_grade:E5                                                            0
sub_grade:F1                                                            0
sub_grade:F2                                                            0
sub_grade:F3                                                            0
sub_grade:F4                                                            0
sub_grade:F5                                                            0
sub_grade:G1                                                            0
sub_grade:G2                                                            0
sub_grade:G3                                                            0
sub_grade:G4                                                            0
sub_grade:G5                                                            0
home_ownership:ANY                                                      0
home_ownership:MORTGAGE                                                 0
home_ownership:NONE                                                     0
home_ownership:OTHER                                                    0
home_ownership:OWN                                                      0
home_ownership:RENT                                                     0
verification_status:Not Verified                                        0
verification_status:Source Verified                                     0
verification_status:Verified                                            0
loan_status:Charged Off                                                 0
loan_status:Current                                                     0
loan_status:Default                                                     0
loan_status:Does not meet the credit policy. Status:Charged Off         0
loan_status:Does not meet the credit policy. Status:Fully Paid          0
loan_status:Fully Paid                                                  0
loan_status:In Grace Period                                             0
loan_status:Late (16-30 days)                                           0
loan_status:Late (31-120 days)                                          0
purpose:car                                                             0
purpose:credit_card                                                     0
purpose:debt_consolidation                                              0
purpose:educational                                                     0
purpose:home_improvement                                                0
purpose:house                                                           0
purpose:major_purchase                                                  0
purpose:medical                                                         0
purpose:moving                                                          0
purpose:other                                                           0
purpose:renewable_energy                                                0
purpose:small_business                                                  0
purpose:vacation                                                        0
purpose:wedding                                                         0
addr_state:AK                                                           0
addr_state:AL                                                           0
addr_state:AR                                                           0
addr_state:AZ                                                           0
addr_state:CA                                                           0
addr_state:CO                                                           0
addr_state:CT                                                           0
addr_state:DC                                                           0
addr_state:DE                                                           0
addr_state:FL                                                           0
addr_state:GA                                                           0
addr_state:HI                                                           0
addr_state:IA                                                           0
addr_state:ID                                                           0
addr_state:IL                                                           0
addr_state:IN                                                           0
addr_state:KS                                                           0
addr_state:KY                                                           0
addr_state:LA                                                           0
addr_state:MA                                                           0
addr_state:MD                                                           0
addr_state:ME                                                           0
addr_state:MI                                                           0
addr_state:MN                                                           0
addr_state:MO                                                           0
addr_state:MS                                                           0
addr_state:MT                                                           0
addr_state:NC                                                           0
addr_state:NE                                                           0
addr_state:NH                                                           0
addr_state:NJ                                                           0
addr_state:NM                                                           0
addr_state:NV                                                           0
addr_state:NY                                                           0
addr_state:OH                                                           0
addr_state:OK                                                           0
addr_state:OR                                                           0
addr_state:PA                                                           0
addr_state:RI                                                           0
addr_state:SC                                                           0
addr_state:SD                                                           0
addr_state:TN                                                           0
addr_state:TX                                                           0
addr_state:UT                                                           0
addr_state:VA                                                           0
addr_state:VT                                                           0
addr_state:WA                                                           0
addr_state:WI                                                           0
addr_state:WV                                                           0
addr_state:WY                                                           0
initial_list_status:f                                                   0
initial_list_status:w                                                   0
dtype: int64

The following variables are needed for analysis have a couple of missing values: annual_inc, deling_2yrs, inq_last_6mths, open_acc, pub_rec, total_acc, acc_now_delinq, total_rev_hi_lim, emp_length_int, mths_since_earliest_cr_line. I will be treating these missing values in a different way from one another.

In [13]:
# Total revolving limit
# Assuming the total revolving limit is equal to the funded amount
loan_data['total_rev_hi_lim'].fillna(value = loan_data['funded_amnt'], inplace = True)

In [14]:
# Check the Total revolving limit
loan_data['total_rev_hi_lim'].isna().sum()

0

In [15]:
# Annual Income
loan_data['annual_inc'].fillna(value = loan_data['annual_inc'].mean(), inplace = True)

In [16]:
# The remaining variables: mths_since_earliest_cr_line, acc_now_delinq, total_acc, pub_rec, open_acc, 
# inq_last_6mths, delinq_2yrs, emp_length_int, I will be filling the missing values with 0
loan_data.update(loan_data[['mths_since_earliest_cr_line', 'acc_now_delinq', 'total_acc', 'pub_rec', 'open_acc', 'inq_last_6mths','delinq_2yrs', 'emp_length_int']].fillna(0))

In [17]:
loan_data.isna().sum()

id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              0
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                             0
earliest_cr_line                                                       29
inq_last_6mths                                                          0
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                                0
pub_rec                                                                 0
revol_bal                                                               0
revol_util                                                            340
total_acc                                                               0
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                          0
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                        0
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                          0
term_int                                                                0
earliest_cr_line_date                                                  29
mths_since_earliest_cr_line                                             0
issue_date_mths                                                         0
mths_since_issue_date                                                   0
grade:A                                                                 0
grade:B                                                                 0
grade:C                                                                 0
grade:D                                                                 0
grade:E                                                                 0
grade:F                                                                 0
grade:G                                                                 0
sub_grade:A1                                                            0
sub_grade:A2                                                            0
sub_grade:A3                                                            0
sub_grade:A4                                                            0
sub_grade:A5                                                            0
sub_grade:B1                                                            0
sub_grade:B2                                                            0
sub_grade:B3                                                            0
sub_grade:B4                                                            0
sub_grade:B5                                                            0
sub_grade:C1                                                            0
sub_grade:C2                                                            0
sub_grade:C3                                                            0
sub_grade:C4                                                            0
sub_grade:C5                                                            0
sub_grade:D1                                                            0
sub_grade:D2                                                            0
sub_grade:D3                                                            0
sub_grade:D4                                                            0
sub_grade:D5                                                            0
sub_grade:E1                                                            0
sub_grade:E2                                                            0
sub_grade:E3                                                            0
sub_grade:E4                                                            0
sub_grade:E5                                                            0
sub_grade:F1                                                            0
sub_grade:F2                                                            0
sub_grade:F3                                                            0
sub_grade:F4                                                            0
sub_grade:F5                                                            0
sub_grade:G1                                                            0
sub_grade:G2                                                            0
sub_grade:G3                                                            0
sub_grade:G4                                                            0
sub_grade:G5                                                            0
home_ownership:ANY                                                      0
home_ownership:MORTGAGE                                                 0
home_ownership:NONE                                                     0
home_ownership:OTHER                                                    0
home_ownership:OWN                                                      0
home_ownership:RENT                                                     0
verification_status:Not Verified                                        0
verification_status:Source Verified                                     0
verification_status:Verified                                            0
loan_status:Charged Off                                                 0
loan_status:Current                                                     0
loan_status:Default                                                     0
loan_status:Does not meet the credit policy. Status:Charged Off         0
loan_status:Does not meet the credit policy. Status:Fully Paid          0
loan_status:Fully Paid                                                  0
loan_status:In Grace Period                                             0
loan_status:Late (16-30 days)                                           0
loan_status:Late (31-120 days)                                          0
purpose:car                                                             0
purpose:credit_card                                                     0
purpose:debt_consolidation                                              0
purpose:educational                                                     0
purpose:home_improvement                                                0
purpose:house                                                           0
purpose:major_purchase                                                  0
purpose:medical                                                         0
purpose:moving                                                          0
purpose:other                                                           0
purpose:renewable_energy                                                0
purpose:small_business                                                  0
purpose:vacation                                                        0
purpose:wedding                                                         0
addr_state:AK                                                           0
addr_state:AL                                                           0
addr_state:AR                                                           0
addr_state:AZ                                                           0
addr_state:CA                                                           0
addr_state:CO                                                           0
addr_state:CT                                                           0
addr_state:DC                                                           0
addr_state:DE                                                           0
addr_state:FL                                                           0
addr_state:GA                                                           0
addr_state:HI                                                           0
addr_state:IA                                                           0
addr_state:ID                                                           0
addr_state:IL                                                           0
addr_state:IN                                                           0
addr_state:KS                                                           0
addr_state:KY                                                           0
addr_state:LA                                                           0
addr_state:MA                                                           0
addr_state:MD                                                           0
addr_state:ME                                                           0
addr_state:MI                                                           0
addr_state:MN                                                           0
addr_state:MO                                                           0
addr_state:MS                                                           0
addr_state:MT                                                           0
addr_state:NC                                                           0
addr_state:NE                                                           0
addr_state:NH                                                           0
addr_state:NJ                                                           0
addr_state:NM                                                           0
addr_state:NV                                                           0
addr_state:NY                                                           0
addr_state:OH                                                           0
addr_state:OK                                                           0
addr_state:OR                                                           0
addr_state:PA                                                           0
addr_state:RI                                                           0
addr_state:SC                                                           0
addr_state:SD                                                           0
addr_state:TN                                                           0
addr_state:TX                                                           0
addr_state:UT                                                           0
addr_state:VA                                                           0
addr_state:VT                                                           0
addr_state:WA                                                           0
addr_state:WI                                                           0
addr_state:WV                                                           0
addr_state:WY                                                           0
initial_list_status:f                                                   0
initial_list_status:w                                                   0
dtype: int64

## PD model

### Dependent Variables. Good/Bad (Default) Definition. Default and Non Default Accounts

In [18]:
# Check the status of accounts which have defaulted or not
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [19]:
# Check how many accounts there are for each status
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [20]:
# Proportion of accounts by status
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [21]:
# Create indicator for a good or bad indicator: Good = 1, Bad = 0
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off', 'Default',
                                                               'Does not meet the credit policy. Status:Charged Off',
                                                               'Late (16-30 days)']), 0, 1)

In [22]:
# Check to see if the indicator was created
loan_data['good_bad'].head(6)

0    1
1    0
2    1
3    1
4    1
5    1
Name: good_bad, dtype: int64

## Splitting the Data

In [23]:
# Split the data into training and testing samples
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'], random_state = 42, test_size = 0.2 )

In [24]:
# Check the shape of loan data inputs train
loan_data_inputs_train.shape

(373028, 206)

In [25]:
# Check the shape of loan data targets train
loan_data_targets_train.shape

(373028,)

In [26]:
# Check the shape of loan data inputs test
loan_data_inputs_test.shape

(93257, 206)

In [27]:
# Check the shape of loan data targets test
loan_data_targets_test.shape

(93257,)

### More Data Preparation : Calculating the Weight of Evidence

In [28]:
df_inputs_prepr = loan_data_inputs_train
df_targets_prepr = loan_data_targets_train

In [29]:
df_inputs_prepr ['grade'].unique()

array(['A', 'C', 'D', 'B', 'E', 'F', 'G'], dtype=object)

In [30]:
df1 = pd.concat([df_inputs_prepr['grade'], df_targets_prepr], axis = 1)
df1.head()

       grade  good_bad
427211     A         1
206088     C         1
136020     A         1
412305     D         1
36159      C         0

In [31]:
grade1 = df1.groupby(df1.columns.values[0], as_index = False)[df1.columns.values[1]].count()

In [32]:
grade2 = df1.groupby(df1.columns.values[0], as_index = False)[df1.columns.values[1]].mean()

In [33]:
df1 = pd.concat([grade1, grade2], axis = 1)
df1.head()

  grade  good_bad grade  good_bad
0     A     59759     A  0.964775
1     B    109730     B  0.929199
2     C    100245     C  0.899426
3     D     61498     D  0.864272
4     E     28612     E  0.826821

In [34]:
# Overwrite one of the columns
df1 = df1.iloc[: , [0, 1, 3]]
df1

  grade  good_bad  good_bad
0     A     59759  0.964775
1     B    109730  0.929199
2     C    100245  0.899426
3     D     61498  0.864272
4     E     28612  0.826821
5     F     10530  0.776923
6     G      2654  0.754333

In [35]:
# Change the name of the columns
df1.columns = [df1.columns.values[0], 'n_obs', 'prop_good']
df1

  grade   n_obs  prop_good
0     A   59759   0.964775
1     B  109730   0.929199
2     C  100245   0.899426
3     D   61498   0.864272
4     E   28612   0.826821
5     F   10530   0.776923
6     G    2654   0.754333

In [36]:
# Calc the proportion of observations in each grade
df1['prop_n_obs'] = df1['n_obs'] / df1['n_obs'].sum()

In [37]:
df1

  grade   n_obs  prop_good  prop_n_obs
0     A   59759   0.964775    0.160200
1     B  109730   0.929199    0.294160
2     C  100245   0.899426    0.268733
3     D   61498   0.864272    0.164862
4     E   28612   0.826821    0.076702
5     F   10530   0.776923    0.028228
6     G    2654   0.754333    0.007115

In [38]:
# Calculate the number of good borrowers and bad borrowers by grade group
df1['n_good'] = df1['prop_good'] * df1['n_obs']
df1['n_bad'] = (1 - df1['prop_good']) * df1['n_obs']
df1

  grade   n_obs  prop_good  prop_n_obs    n_good    n_bad
0     A   59759   0.964775    0.160200   57654.0   2105.0
1     B  109730   0.929199    0.294160  101961.0   7769.0
2     C  100245   0.899426    0.268733   90163.0  10082.0
3     D   61498   0.864272    0.164862   53151.0   8347.0
4     E   28612   0.826821    0.076702   23657.0   4955.0
5     F   10530   0.776923    0.028228    8181.0   2349.0
6     G    2654   0.754333    0.007115    2002.0    652.0

In [39]:
# Calculate the proportion of good borrowers and bad borrowers for each grade
df1['prop_n_good'] = df1['n_good'] / df1['n_good'].sum()
df1['prop_n_bad'] = df1['n_bad'] / df1['n_bad'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad
0,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055
1,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264
2,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055
3,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205
4,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656
5,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982

In [40]:
# Calculate the Weight of Evidence
df1['WoE'] = np.log(df1['prop_good'] / df1['prop_n_bad'])
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055,2.810512
1,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264,1.467114
2,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055,1.173938
3,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205,1.322918
4,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656,1.800123
5,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784,2.484284
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982,3.736477

In [41]:
# Sort results by weight of evidence
df1 = df1.sort_values(['WoE'])
df1 = df1.reset_index(drop = True)
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055,1.173938
1,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205,1.322918
2,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264,1.467114
3,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656,1.800123
4,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784,2.484284
5,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055,2.810512
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982,3.736477

In [42]:
# Calculate the difference of each two subsequent rows
df1['diff_prop_good'] = df1['prop_good'].diff().abs()
df1['diff_WoE'] = df1['WoE'].diff().abs()

In [43]:
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE
0,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055,1.173938,NaN,NaN
1,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205,1.322918,0.035154,0.148980
2,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264,1.467114,0.064927,0.144196
3,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656,1.800123,0.102378,0.333010
4,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784,2.484284,0.049898,0.684161
5,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055,2.810512,0.187852,0.326228
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982,3.736477,0.210442,0.925965

In [44]:
# Calculate the Information Value
df1['IV'] = (df1['prop_n_good'] - df1['prop_n_bad']) * df1['WoE']
df1['IV'] = df1['IV'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055,1.173938,NaN,NaN,0.074842
1,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205,1.322918,0.035154,0.148980,0.074842
2,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264,1.467114,0.064927,0.144196,0.074842
3,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656,1.800123,0.102378,0.333010,0.074842
4,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784,2.484284,0.049898,0.684161,0.074842
5,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055,2.810512,0.187852,0.326228,0.074842
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982,3.736477,0.210442,0.925965,0.074842

### Preprocessing Discrete Variables: Automating Calculations

In [45]:
# Create a function for automatic pre-processing of discrete variables
def woe_discrete(df, discrete_variable_name, good_bad_variable_df):
    df = pd.concat([df[discrete_variable_name], good_bad_variable_df], axis = 1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                    df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[: , [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good']
    
    # Calc the proportion of observations in each grade
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    
    # Calculate the number of good borrowers and bad borrowers by grade group
    df['n_good'] = df['prop_good'] * df['n_obs']
    df['n_bad'] = (1 - df['prop_good']) * df['n_obs']
    
    # Calculate the proportion of good borrowers and bad borrowers for each grade
    df['prop_n_good'] = df['n_good'] / df['n_good'].sum()
    df['prop_n_bad'] = df['n_bad'] / df['n_bad'].sum()
    
    # Calculate the Weight of Evidence
    df['WoE'] = np.log(df['prop_good'] / df['prop_n_bad'])
    
    # Sort results by weight of evidence and reset the index
    df = df.sort_values(['WoE'])
    df = df.reset_index(drop = True)
    
    # Calculate the difference of each two subsequent rows
    df['diff_prop_good'] = df['prop_good'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    
    # Calculate the Information Value
    df['IV'] = (df['prop_n_good'] - df['prop_n_bad']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df

In [46]:
df_temp = woe_discrete(df_inputs_prepr, 'grade', df_targets_prepr)
df_temp

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,C,100245,0.899426,0.268733,90163.0,10082.0,0.267730,0.278055,1.173938,NaN,NaN,0.074842
1,D,61498,0.864272,0.164862,53151.0,8347.0,0.157826,0.230205,1.322918,0.035154,0.148980,0.074842
2,B,109730,0.929199,0.294160,101961.0,7769.0,0.302762,0.214264,1.467114,0.064927,0.144196,0.074842
3,E,28612,0.826821,0.076702,23657.0,4955.0,0.070247,0.136656,1.800123,0.102378,0.333010,0.074842
4,F,10530,0.776923,0.028228,8181.0,2349.0,0.024293,0.064784,2.484284,0.049898,0.684161,0.074842
5,A,59759,0.964775,0.160200,57654.0,2105.0,0.171197,0.058055,2.810512,0.187852,0.326228,0.074842
6,G,2654,0.754333,0.007115,2002.0,652.0,0.005945,0.017982,3.736477,0.210442,0.925965,0.074842